@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
.custo{
  /* background-color: aqua; */
  padding: 11px 10px 0 10px;
  /* text-align: center; */
}
.btn-filter{
  margin-left: 70px;
}
.date-picker{
  color: aqua;
  /* background-color: red; */ 
}
.rmdp-input{
  /* background-color: red; */
  width: 115%;
  text-align: center;
  height: 30px !important;
}
.date-picker input{
  background-color: aqua;
}

.MuiIconButton-root:hover {
  background-color: rgba(0, 0, 0, 0) !important;
}
